[submodule "libraries/Jumble"]
	path = libraries/Jumble
	url = https://www.github.com/Morlunk/Jumble.git
[submodule "libraries/libonionkit"]
	path = libraries/libonionkit
	url = https://www.github.com/Morlunk/OnionKit.git
