[submodule "libraries/Jumble"]
	path = libraries/Jumble
	url = https://www.github.com/Morlunk/Jumble.git
[submodule "libraries/NetCipher"]
	path = libraries/NetCipher
	url = https://github.com/Morlunk/OnionKit.git
[submodule "libraries/Leeroy-Gradle"]
	path = libraries/Leeroy-Gradle
	url = https://github.com/Morlunk/Leeroy-Gradle.git
